.home-pages-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  position: relative;
}
.home-pages-head h1 {
  text-align: center;
  font-family: ALK Katerina;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 10%;
}



.logo-containerHome {
  margin-bottom: 180px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo-containerHome p {
  white-space: nowrap;
  font-family: ALK Life;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 10%;
  margin-top: 280px;
}
.large-logo {
  max-width: 100%;
  height: auto;
}

.slogan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-slogan {
  font-size: 36px;
  font-weight: bold;
  color: #e50000;
  margin-bottom: 20px;
}

.sub-slogan-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sub-slogan {
  font-size: 24px;
  font-weight: 500;
  color: #e50000;
  margin: 0 80px;
}

/* For smaller screens */
@media (max-width: 900px) {
  .main-slogan {
    font-size: 28px;
  }
  .logo-containerHome {
    display: flex;
    flex-direction: column;
  }
  .logo-containerHome p {
    margin-top: 40px;
  }
  .sub-slogan {
    font-size: 18px;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .main-slogan {
    font-size: 24px;
  }

  .sub-slogan-container {
    flex-direction: column;
  }

  .sub-slogan {
    margin: 5px 0;
  }
}
