@import "@fontsource/firago";

@font-face {
  font-family: ALK Life;
  src: url("../app/fonts/alk_life.otf") format("truetype");

  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 10%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f9f9f9;
  color: #333; */
  font-family: "firaGo", sans-serif;
  font-style: normal;
  /* cursor: url("/brush.png"), auto; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 245, 246, 1);
}
main {
  min-height: 100vh;
  max-width: 100%;
}
.container {
  width: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: ALK Life;
  margin-left: 2%;
  color: #e50000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background 0.3s;
}

.pagination-button:hover {
  background: #f0f0f0;
}

.pagination-button.active {
  background: #0070f3;
  color: white;
  border-color: #0070f3;
}

.pagination-button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination-ellipsis {
  font-size: 14px;
  color: #888;
}

.paint-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1),
    rgba(255, 255, 0, 0.5)
  );
  border-radius: 50%;
  pointer-events: none;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.entry-button {
  position: relative;
  z-index: 99999;
  margin-top: 0px;
  padding: 8px 0px;
  background-color: #CF0A0A33;
  color: #CF0A0A;
  font-size: 20px;
  font-weight: 800;
  /* border-radius: 9999px; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 2px solid #CF0A0A;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry-button:hover {
  background-color: #cf0a0a4b;
}
